<section aria-labelledby="description">
  <h2 class="sr-only" id="description">Description</h2><div
    class="px-8 mx-auto max-w-7xl lg:px-24">
    <div class="pt-12">
      <div class="mx-auto lg:max-w-7xl">
        <h2 class="sr-only">Desription</h2><div>
          <dl
            class="grid gap-12 grid-cols- lg:gap-24 lg:space-y-0 md:grid-cols-3 sm:grid-cols-2">
            <div>
              <dt>
                <p class="text-xl text-black lg:text-2xl mt-3 font-medium">
                  Built with Astro.js.
                </p>
              </dt><dd class="text-base text-zinc-500 font-normal mt-4">
                Astro is an all-in-one web framework for building fast,
                content-focused websites.
              </dd>
            </div><div>
              <dt>
                <p class="text-xl text-black lg:text-2xl mt-3 font-medium">
                  Styled with Tailwind CSS.
                </p>
              </dt><dd class="text-base text-zinc-500 font-normal mt-4">
                Tailwind CSS works by scanning all of your HTML files,
                JavaScript components, and any other templates for class names,
                generating the corresponding styles and then writing them to a
                static CSS file.
              </dd>
            </div><div>
              <dt>
                <p class="text-xl text-black lg:text-2xl mt-3 font-medium">
                  Relived with Alpine.js
                </p>
              </dt><dd class="text-base text-zinc-500 font-normal mt-4">
                Alpine is a rugged, minimal tool for composing behavior directly
                in your markup. Think of it like jQuery for the modern web. Plop
                in a script tag and get going.
              </dd>
            </div><div>
              <dt>
                <p class="text-xl text-black lg:text-2xl mt-3 font-medium">
                  Keyboard accessible.
                </p>
              </dt><dd class="text-base text-zinc-500 font-normal mt-4">
                Everything I build is keyboard accessible, and I meticulously
                write the markup to deliver the best screenreader experience I
                can provide.
              </dd>
            </div><div>
              <dt>
                <p class="text-xl text-black lg:text-2xl mt-3 font-medium">
                  Production-ready
                </p>
              </dt><dd class="text-base text-zinc-500 font-normal mt-4">
                I tested the template in the latest versions of all browsers to
                handle lots of edge-cases you might encounter.
              </dd>
            </div><div>
              <dt>
                <p class="text-xl text-black lg:text-2xl mt-3 font-medium">
                  Simple deploys
                </p>
              </dt><dd class="text-base text-zinc-500 font-normal mt-4">
                The template is production-ready and easily deployed anywhere
                that you can deploy a static wbsites, like Vercel, Netlify,
                GitHub pages, a bounch of options..
              </dd>
            </div>
          </dl>
        </div>
      </div>
    </div>
  </div><div
    class="mx-auto 2xl:max-w-7xl lg:px-16 md:px-12 px-8 xl:px-36 items-center my-12 lg:my-32">
    <div>
      <h2 class="text-black mt-4 font-semibold text-5xl tracking-tight">
        Plugins, integrations and stack.
      </h2><p class="text-lg lg:text-2xl text-black mt-5">
        lexington templates are thoughtfully crafted with the latest Astro,
        Tailwind and Alpine.js integrations and versions to keep it simple and
        easy to maintain.
      </p>
    </div><div class="pt-12">
      <div class="mx-auto lg:max-w-7xl">
        <h2 class="sr-only">Desription</h2><div>
          <dl
            class="grid gap-12 grid-cols- lg:gap-24 lg:space-y-0 md:grid-cols-3 sm:grid-cols-2">
            <div>
              <dt>
                <p class="text-xl text-black lg:text-2xl mt-3 font-medium">
                  Astro.js
                </p>
              </dt>
            </div><div>
              <dt>
                <p class="text-xl text-black lg:text-2xl mt-3 font-medium">
                  Tailwind
                </p>
              </dt>
            </div><div>
              <dt>
                <p class="text-xl text-black lg:text-2xl mt-3 font-medium">
                  @astro/alpinejs
                </p>
              </dt>
            </div><div>
              <dt>
                <p class="text-xl text-black lg:text-2xl mt-3 font-medium">
                  @astro/Seo
                </p>
              </dt>
            </div><div>
              <dt>
                <p class="text-xl text-black lg:text-2xl mt-3 font-medium">
                  @astro/image
                </p>
              </dt>
            </div>

            <div>
              <dt>
                <p class="text-xl text-black lg:text-2xl mt-3 font-medium">
                  @astro/md
                </p>
              </dt>
            </div>
            <div>
              <dt>
                <p class="text-xl text-black lg:text-2xl mt-3 font-medium">
                  @astro/prism
                </p>
              </dt>
            </div>
            <div>
              <dt>
                <p class="text-xl text-black lg:text-2xl mt-3 font-medium">
                  @astro/compress
                </p>
              </dt>
            </div><div>
              <dt>
                <p class="text-xl text-black lg:text-2xl mt-3 font-medium">
                  @astro/sitemap
                </p>
              </dt>
            </div>
            <div>
              <dt>
                <p class="text-xl text-black lg:text-2xl mt-3 font-medium">
                  @tailwindcss/forms
                </p>
              </dt>
            </div><div>
              <dt>
                <p class="text-xl text-black lg:text-2xl mt-3 font-medium">
                  @tailwindcss/typography
                </p>
              </dt>
            </div>
          </dl>
        </div>
      </div>
    </div>
  </div>
</section>
