<!----
|-----------------------------------------------------------------------------
| How to add your own name as SVG:
|-----------------------------------------------------------------------------
|
- Open Figma and type your name in your favourite font.
- Make sure is the same size as the SVG underneath.
- Make it full width ( 100% ), you can control the Height with HTML.
- Paste it where the SVG is.
----->
<section>
  <div
    class="items-center px-8 py-12 mx-auto max-w-7xl lg:px-16 md:px-12 lg:py-24">
    <div class="max-w-xl mx-auto text-center lg:p-10">
      <div>
        <p class="text-4xl font-extrabold tracking-tight text-black">
          Lexington blog starter
        </p>
        <p class="max-w-xl mx-auto mt-4 text-lg tracking-tight text-gray-600">
          If you could kick the person in the pants responsible for most of your
          trouble, you wouldn't sit for a month
        </p>
      </div>
      <div
        class="flex flex-col justify-center max-w-xl gap-3 mx-auto mt-10 sm:flex-row">
        <a
          class="inline-flex items-center justify-center w-full px-6 py-3 text-center text-white duration-200 bg-black border-2 border-black hover:bg-transparent hover:border-black rounded-xl hover:text-black focus:outline-none lg:w-auto focus-visible:outline-black focus-visible:ring-black"
          href="/overview">
          See all pages
        </a>
      </div>
    </div>
  </div>
</section>
