@tailwind base;
@tailwind components;
@tailwind utilities;


pre {
  background-color: #111213 !important;

}
/* CSS */
:root { font-family: 'Inter', sans-serif; }
@supports (font-variation-settings: normal) {
  :root { font-family: 'Inter var', sans-serif; }
}
/* Canvas for particles */
#tsparticles canvas {
  position: fixed !important;
  width: 100% !important;
  height: 100% !important;
  left: 0 !important;
  top: 0 !important;
  pointer-events: none !important;
}
