@tailwind base;
@tailwind components;
@tailwind utilities;
/* CSS */
:root {
  font-family: Inter, sans-serif;
  font-feature-settings:
  "liga" 1,
  "calt" 1, /* Contextual Alternates */
  "dlig" 1, /* Discretionary Ligatures */
  "ss07" 1, /* fSquare punctuation */
  "ss08" 1, /* Square quotes */
  "zero" 1, /* Slashed zero */
  "tnum" 1, /* Tabular numbers */
    "cv03", /* Open six */
    "cv04" 1, /* Open nine */
    "cv01" 1, /* Alternate one */
    "cv09", /* Flat-top three */
    "cv02" 1; /* Open 4 */
}
@supports (font-variation-settings: normal) {
  /* Use variable font if supported */
  :root {
    font-family: InterVariable, sans-serif;
  }
}


.prose-styles {
  @apply  prose text-neutral-400 dark:text-neutral-300 prose-headings:text-neutral-900 dark:prose-headings:text-white prose-blockquote:text-blue-400 dark:prose-blockquote:text-blue-300 dark:prose-blockquote:border-blue-400 prose-img:border prose-img:border-white/10 prose-img:rounded-lg dark:prose-code:text-white dark:prose-a:text-blue-400 dark:prose-strong:text-white max-w-none prose-pre:border;
}
:root {
  --astro-code-color-text: #000000;
  --astro-code-color-background: #ffffff;
  --astro-code-token-constant: #00000080;
  --astro-code-token-string: #00000050;
  --astro-code-token-comment: #00000060;
  --astro-code-token-keyword: black;
  --astro-code-token-parameter: #ffffff;
  --astro-code-token-function: black;
  --astro-code-token-string-expression: #0000ff;
  --astro-code-token-punctuation: #ffffff;
  --astro-code-token-link: #ffffff;
}
