@tailwind base;
@tailwind components;
@tailwind utilities;
pre {
  background-color: #111213 !important;
}
/* CSS */
:root { font-family: 'Inter', sans-serif; }
@supports (font-variation-settings: normal) {
  :root { font-family: 'Inter var', sans-serif; }
}
