<section>
  <div class="mx-auto max-w-3xl px-8 py-24 sm:pt-32">
    <div class="mx-auto max-w-2xl">
      <div>
        <div>
          <div>
            <p
              class="text-2xl font-medium tracking-tight text-neutral-900 dark:text-white sm:text-4xl">
              <span>ProFolioX</span> is a website template created for developers
              and designers who code. It's built with TailwindCSS and AstroJS.
            </p>
          </div>
          <p class="mt-4 text-neutral-400 dark:text-neutral-300">
            Beautifully designed in light and dark mode so you look good on
            every screen, because you never know who's watching you.
          </p>
        </div>
        <div class="flex flex-wrap gap-2 mt-6">
          <a
            class="inline-flex items-center gap-2 justify-center rounded-lg py-3 px-6 text-sm outline-offset-2 transition active:transition-none bg-black text-white font-medium hover:bg-neutral-500 active:bg-neutral-100 active:text-neutral-900/60 dark:bg-white dark:text-black dark:hover:bg-neutral-800 dark:hover:text-neutral-50 dark:active:bg-neutral-800/50 dark:active:text-neutral-50/70 group w-full lg:w-auto border border-white/20"
            href="#">
            Buy ProFolioX
          </a>
          <a
            class="inline-flex items-center gap-2 justify-center rounded-lg py-3 px-6 text-sm outline-offset-2 transition active:transition-none bg-white text-black font-medium hover:bg-neutral-50 dark:text-white active:bg-neutral-100 active:text-neutral-900/60 dark:bg-neutral-800/50 dark:hover:bg-neutral-800 dark:hover:text-neutral-50 dark:active:bg-neutral-800/50 dark:active:text-neutral-50/70 group w-full lg:w-auto border dark:border-white/20"
            href="/overview">
            See all pages
          </a>
          <a
            class="inline-flex items-center gap-2 justify-center rounded-lg py-3 px-6 text-sm outline-offset-2 transition active:transition-none bg-white text-black font-medium hover:bg-neutral-50 dark:text-white active:bg-neutral-100 active:text-neutral-900/60 dark:bg-neutral-800/50 dark:hover:bg-neutral-800 dark:hover:text-neutral-50 dark:active:bg-neutral-800/50 dark:active:text-neutral-50/70 group w-full lg:w-auto border dark:border-white/20"
            href="/style-guide">
            Style guide
          </a>
        </div>
      </div>
    </div>
  </div>
</section>
