<a href="/" class="group block flex-shrink-0 cursor-pointer">
  <div class="flex items-center ">
    <div>
      <img
        class="inline-block h-9 w-9 ring-1 ring-black dark:ring-white/10 grayscale filter rounded-full"
        src="/mike.jpg"
        alt=""
      />
    </div>
    <div class="ml-3">
      <p
        class="text-sm font-medium text-neutral-900 dark:text-white group-hover:opacity-80">
        Michael Andreuzza
      </p>
      <p
        class="text-xs font-medium text-neutral-500 dark:text-white group-hover:opacity-80">
        UI Designer - Developer
      </p>
    </div>
  </div>
</a>
