<a href="/" class="group block flex-shrink-0 cursor-pointer">
  <span
    class="inline-flex items-center text-neutral-1300 dark:text-white gap-3 group-hover:opacity-80">
    <span>
      <svg
        xmlns="http://www.w3.org/2000/svg"
        class="w-5 h-5 mx-auto"
        viewBox="0 0 232 232"
        fill="none">
        <path
          d="M166.524 51.4683L116.367 101.625L65.5235 51.4683L116.367 0.62434L166.524 51.4683ZM231.11 116.054L180.953 166.898L130.796 116.054L180.953 65.8969L231.11 116.054ZM101.939 116.054L51.0948 166.898L0.250934 116.054L51.0948 65.8969L101.939 116.054ZM166.524 181.326L116.367 231.483L65.5235 181.326L116.367 130.482L166.524 181.326Z"
          fill="currentColor"></path>
      </svg>
    </span>
    <span class="font-semibold text-xl"> ProFolioX</span>
  </span>

  <div class="flex items-center mt-12">
    <div>
      <img
        class="inline-block h-9 w-9 ring-1 ring-black dark:ring-white/10 grayscale filter rounded-full"
        src="/mike.jpg"
        alt=""
      />
    </div>
    <div class="ml-3">
      <p
        class="text-sm font-medium text-neutral-900 dark:text-white group-hover:opacity-80">
        Michael Andreuzza
      </p>
      <p
        class="text-xs font-medium text-neutral-500 dark:text-white group-hover:opacity-80">
        UI Designer - Developer
      </p>
    </div>
  </div>
</a>
