<a href="/" class="group block flex-shrink-0 cursor-pointer">
  <span
    class="inline-flex items-center text-neutral-1300 dark:text-white gap-3 group-hover:opacity-80">
    <span>
      <svg
        class="w-5 h-5"
        viewBox="0 0 74 84"
        fill="none"
        xmlns="http://www.w3.org/2000/svg">
        <path
          d="M0.281078 21.5832L0.281078 61.1797L36.7189 40.0841L36.7189 0.487616L0.281078 21.5832Z"
          fill="currentColor"></path>
        <path
          d="M0.281078 21.5832L0.281078 61.1797L36.7189 40.0841L36.7189 0.487616L0.281078 21.5832Z"
          fill="currentColor"
          fill-opacity="0.2"></path>
        <path
          d="M0.281078 21.5832L0.281078 61.1797L36.7189 40.0841L36.7189 0.487616L0.281078 21.5832Z"
          stroke="currentColor"
          stroke-width="0.649123"></path>
        <path
          d="M0.281078 21.5832L0.281078 61.1797L36.7189 40.0841L36.7189 0.487616L0.281078 21.5832Z"
          stroke="currentColor"
          stroke-opacity="0.2"
          stroke-width="0.649123"></path>
        <path
          d="M37 36.3512L37 37.6494L-5.7202e-08 59.0705L-8.5803e-08 57.7723L37 36.3512ZM37 35.053L-1.14404e-07 56.474L-1.43005e-07 55.1758L37 33.7547L37 35.053ZM-2.00207e-07 52.5793L-1.71606e-07 53.8775L37 32.4565L37 31.1582L-2.00207e-07 52.5793ZM-2.28808e-07 51.281L-2.57409e-07 49.9828L37 28.5617L37 29.86L-2.28808e-07 51.281ZM-3.14611e-07 47.3863L-2.8601e-07 48.6845L37 27.2635L37 25.9652L-3.14611e-07 47.3863ZM-3.43212e-07 46.088L-3.71813e-07 44.7898L37 23.3687L37 24.667L-3.43212e-07 46.088ZM-4.29015e-07 42.1933L-4.00414e-07 43.4916L37 22.0705L37 20.7723L-4.29015e-07 42.1933ZM-4.57616e-07 40.8951L-4.86217e-07 39.5968L37 18.1758L37 19.474L-4.57616e-07 40.8951ZM-5.43419e-07 37.0003L-5.14818e-07 38.2986L37 16.8775L37 15.5793L-5.43419e-07 37.0003ZM-5.7202e-07 35.7021L-6.00621e-07 34.4038L37 12.9828L37 14.281L-5.7202e-07 35.7021ZM-6.57823e-07 31.8073L-6.29222e-07 33.1056L37 11.6845L37 10.3863L-6.57823e-07 31.8073ZM-6.86424e-07 30.5091L-7.15025e-07 29.2108L37 7.7898L37 9.08805L-6.86424e-07 30.5091ZM-7.72227e-07 26.6144L-7.43626e-07 27.9126L37 6.49155L37 5.19331L-7.72227e-07 26.6144ZM-8.00828e-07 25.3161L-8.29429e-07 24.0179L37 2.59682L37 3.89506L-8.00828e-07 25.3161ZM-8.86631e-07 21.4214L-8.5803e-07 22.7196L37 1.29857L37 0.000326157L-8.86631e-07 21.4214ZM37 40.2459L37 38.9477L-2.8601e-08 60.3687L0 61.667L37 40.2459Z"
          fill="currentColor"></path>
        <path
          d="M37 36.3512L37 37.6494L-5.7202e-08 59.0705L-8.5803e-08 57.7723L37 36.3512ZM37 35.053L-1.14404e-07 56.474L-1.43005e-07 55.1758L37 33.7547L37 35.053ZM-2.00207e-07 52.5793L-1.71606e-07 53.8775L37 32.4565L37 31.1582L-2.00207e-07 52.5793ZM-2.28808e-07 51.281L-2.57409e-07 49.9828L37 28.5617L37 29.86L-2.28808e-07 51.281ZM-3.14611e-07 47.3863L-2.8601e-07 48.6845L37 27.2635L37 25.9652L-3.14611e-07 47.3863ZM-3.43212e-07 46.088L-3.71813e-07 44.7898L37 23.3687L37 24.667L-3.43212e-07 46.088ZM-4.29015e-07 42.1933L-4.00414e-07 43.4916L37 22.0705L37 20.7723L-4.29015e-07 42.1933ZM-4.57616e-07 40.8951L-4.86217e-07 39.5968L37 18.1758L37 19.474L-4.57616e-07 40.8951ZM-5.43419e-07 37.0003L-5.14818e-07 38.2986L37 16.8775L37 15.5793L-5.43419e-07 37.0003ZM-5.7202e-07 35.7021L-6.00621e-07 34.4038L37 12.9828L37 14.281L-5.7202e-07 35.7021ZM-6.57823e-07 31.8073L-6.29222e-07 33.1056L37 11.6845L37 10.3863L-6.57823e-07 31.8073ZM-6.86424e-07 30.5091L-7.15025e-07 29.2108L37 7.7898L37 9.08805L-6.86424e-07 30.5091ZM-7.72227e-07 26.6144L-7.43626e-07 27.9126L37 6.49155L37 5.19331L-7.72227e-07 26.6144ZM-8.00828e-07 25.3161L-8.29429e-07 24.0179L37 2.59682L37 3.89506L-8.00828e-07 25.3161ZM-8.86631e-07 21.4214L-8.5803e-07 22.7196L37 1.29857L37 0.000326157L-8.86631e-07 21.4214ZM37 40.2459L37 38.9477L-2.8601e-08 60.3687L0 61.667L37 40.2459Z"
          fill="currentColor"
          fill-opacity="0.2"></path>
        <path
          d="M37 36.3512L37 37.6494L-5.7202e-08 59.0705L-8.5803e-08 57.7723L37 36.3512ZM37 35.053L-1.14404e-07 56.474L-1.43005e-07 55.1758L37 33.7547L37 35.053ZM-2.00207e-07 52.5793L-1.71606e-07 53.8775L37 32.4565L37 31.1582L-2.00207e-07 52.5793ZM-2.28808e-07 51.281L-2.57409e-07 49.9828L37 28.5617L37 29.86L-2.28808e-07 51.281ZM-3.14611e-07 47.3863L-2.8601e-07 48.6845L37 27.2635L37 25.9652L-3.14611e-07 47.3863ZM-3.43212e-07 46.088L-3.71813e-07 44.7898L37 23.3687L37 24.667L-3.43212e-07 46.088ZM-4.29015e-07 42.1933L-4.00414e-07 43.4916L37 22.0705L37 20.7723L-4.29015e-07 42.1933ZM-4.57616e-07 40.8951L-4.86217e-07 39.5968L37 18.1758L37 19.474L-4.57616e-07 40.8951ZM-5.43419e-07 37.0003L-5.14818e-07 38.2986L37 16.8775L37 15.5793L-5.43419e-07 37.0003ZM-5.7202e-07 35.7021L-6.00621e-07 34.4038L37 12.9828L37 14.281L-5.7202e-07 35.7021ZM-6.57823e-07 31.8073L-6.29222e-07 33.1056L37 11.6845L37 10.3863L-6.57823e-07 31.8073ZM-6.86424e-07 30.5091L-7.15025e-07 29.2108L37 7.7898L37 9.08805L-6.86424e-07 30.5091ZM-7.72227e-07 26.6144L-7.43626e-07 27.9126L37 6.49155L37 5.19331L-7.72227e-07 26.6144ZM-8.00828e-07 25.3161L-8.29429e-07 24.0179L37 2.59682L37 3.89506L-8.00828e-07 25.3161ZM-8.86631e-07 21.4214L-8.5803e-07 22.7196L37 1.29857L37 0.000326157L-8.86631e-07 21.4214ZM37 40.2459L37 38.9477L-2.8601e-08 60.3687L0 61.667L37 40.2459Z"
          stroke="currentColor"></path>
        <path
          d="M37 36.3512L37 37.6494L-5.7202e-08 59.0705L-8.5803e-08 57.7723L37 36.3512ZM37 35.053L-1.14404e-07 56.474L-1.43005e-07 55.1758L37 33.7547L37 35.053ZM-2.00207e-07 52.5793L-1.71606e-07 53.8775L37 32.4565L37 31.1582L-2.00207e-07 52.5793ZM-2.28808e-07 51.281L-2.57409e-07 49.9828L37 28.5617L37 29.86L-2.28808e-07 51.281ZM-3.14611e-07 47.3863L-2.8601e-07 48.6845L37 27.2635L37 25.9652L-3.14611e-07 47.3863ZM-3.43212e-07 46.088L-3.71813e-07 44.7898L37 23.3687L37 24.667L-3.43212e-07 46.088ZM-4.29015e-07 42.1933L-4.00414e-07 43.4916L37 22.0705L37 20.7723L-4.29015e-07 42.1933ZM-4.57616e-07 40.8951L-4.86217e-07 39.5968L37 18.1758L37 19.474L-4.57616e-07 40.8951ZM-5.43419e-07 37.0003L-5.14818e-07 38.2986L37 16.8775L37 15.5793L-5.43419e-07 37.0003ZM-5.7202e-07 35.7021L-6.00621e-07 34.4038L37 12.9828L37 14.281L-5.7202e-07 35.7021ZM-6.57823e-07 31.8073L-6.29222e-07 33.1056L37 11.6845L37 10.3863L-6.57823e-07 31.8073ZM-6.86424e-07 30.5091L-7.15025e-07 29.2108L37 7.7898L37 9.08805L-6.86424e-07 30.5091ZM-7.72227e-07 26.6144L-7.43626e-07 27.9126L37 6.49155L37 5.19331L-7.72227e-07 26.6144ZM-8.00828e-07 25.3161L-8.29429e-07 24.0179L37 2.59682L37 3.89506L-8.00828e-07 25.3161ZM-8.86631e-07 21.4214L-8.5803e-07 22.7196L37 1.29857L37 0.000326157L-8.86631e-07 21.4214ZM37 40.2459L37 38.9477L-2.8601e-08 60.3687L0 61.667L37 40.2459Z"
          stroke="currentColor"
          stroke-opacity="0.2"></path>
        <path
          d="M37.2811 0.487785L37.2811 40.0843L73.7189 61.1798L73.7189 21.5833L37.2811 0.487785Z"
          fill="currentColor"></path>
        <path
          d="M37.2811 0.487785L37.2811 40.0843L73.7189 61.1798L73.7189 21.5833L37.2811 0.487785Z"
          fill="currentColor"
          fill-opacity="0.2"></path>
        <path
          d="M37.2811 0.487785L37.2811 40.0843L73.7189 61.1798L73.7189 21.5833L37.2811 0.487785Z"
          stroke="currentColor"
          stroke-width="0.649123"></path>
        <path
          d="M37.2811 0.487785L37.2811 40.0843L73.7189 61.1798L73.7189 21.5833L37.2811 0.487785Z"
          stroke="currentColor"
          stroke-opacity="0.2"
          stroke-width="0.649123"></path>
        <path
          d="M74 57.7724L74 59.0706L37 37.6496L37 36.3514L74 57.7724ZM74 56.4742L37 35.0531L37 33.7549L74 55.1759L74 56.4742ZM37 31.1584L37 32.4566L74 53.8777L74 52.5794L37 31.1584ZM37 29.8601L37 28.5619L74 49.9829L74 51.2812L37 29.8601ZM37 25.9654L37 27.2636L74 48.6847L74 47.3864L37 25.9654ZM37 24.6672L37 23.3689L74 44.7899L74 46.0882L37 24.6672ZM37 20.7724L37 22.0707L74 43.4917L74 42.1935L37 20.7724ZM37 19.4742L37 18.1759L74 39.597L74 40.8952L37 19.4742ZM37 15.5794L37 16.8777L74 38.2987L74 37.0005L37 15.5794ZM37 14.2812L37 12.9829L74 34.404L74 35.7022L37 14.2812ZM37 10.3865L37 11.6847L74 33.1057L74 31.8075L37 10.3865ZM37 9.08821L37 7.78996L74 29.211L74 30.5092L37 9.08821ZM37 5.19347L37 6.49172L74 27.9128L74 26.6145L37 5.19347ZM37 3.89523L37 2.59698L74 24.018L74 25.3163L37 3.89523ZM37 0.000492096L37 1.29874L74 22.7198L74 21.4215L37 0.000492096ZM74 61.6671L74 60.3689L37 38.9479L37 40.2461L74 61.6671Z"
          fill="currentColor"></path>
        <path
          d="M74 57.7724L74 59.0706L37 37.6496L37 36.3514L74 57.7724ZM74 56.4742L37 35.0531L37 33.7549L74 55.1759L74 56.4742ZM37 31.1584L37 32.4566L74 53.8777L74 52.5794L37 31.1584ZM37 29.8601L37 28.5619L74 49.9829L74 51.2812L37 29.8601ZM37 25.9654L37 27.2636L74 48.6847L74 47.3864L37 25.9654ZM37 24.6672L37 23.3689L74 44.7899L74 46.0882L37 24.6672ZM37 20.7724L37 22.0707L74 43.4917L74 42.1935L37 20.7724ZM37 19.4742L37 18.1759L74 39.597L74 40.8952L37 19.4742ZM37 15.5794L37 16.8777L74 38.2987L74 37.0005L37 15.5794ZM37 14.2812L37 12.9829L74 34.404L74 35.7022L37 14.2812ZM37 10.3865L37 11.6847L74 33.1057L74 31.8075L37 10.3865ZM37 9.08821L37 7.78996L74 29.211L74 30.5092L37 9.08821ZM37 5.19347L37 6.49172L74 27.9128L74 26.6145L37 5.19347ZM37 3.89523L37 2.59698L74 24.018L74 25.3163L37 3.89523ZM37 0.000492096L37 1.29874L74 22.7198L74 21.4215L37 0.000492096ZM74 61.6671L74 60.3689L37 38.9479L37 40.2461L74 61.6671Z"
          fill="currentColor"
          fill-opacity="0.2"></path>
        <path
          d="M74 57.7724L74 59.0706L37 37.6496L37 36.3514L74 57.7724ZM74 56.4742L37 35.0531L37 33.7549L74 55.1759L74 56.4742ZM37 31.1584L37 32.4566L74 53.8777L74 52.5794L37 31.1584ZM37 29.8601L37 28.5619L74 49.9829L74 51.2812L37 29.8601ZM37 25.9654L37 27.2636L74 48.6847L74 47.3864L37 25.9654ZM37 24.6672L37 23.3689L74 44.7899L74 46.0882L37 24.6672ZM37 20.7724L37 22.0707L74 43.4917L74 42.1935L37 20.7724ZM37 19.4742L37 18.1759L74 39.597L74 40.8952L37 19.4742ZM37 15.5794L37 16.8777L74 38.2987L74 37.0005L37 15.5794ZM37 14.2812L37 12.9829L74 34.404L74 35.7022L37 14.2812ZM37 10.3865L37 11.6847L74 33.1057L74 31.8075L37 10.3865ZM37 9.08821L37 7.78996L74 29.211L74 30.5092L37 9.08821ZM37 5.19347L37 6.49172L74 27.9128L74 26.6145L37 5.19347ZM37 3.89523L37 2.59698L74 24.018L74 25.3163L37 3.89523ZM37 0.000492096L37 1.29874L74 22.7198L74 21.4215L37 0.000492096ZM74 61.6671L74 60.3689L37 38.9479L37 40.2461L74 61.6671Z"
          stroke="currentColor"></path>
        <path
          d="M74 57.7724L74 59.0706L37 37.6496L37 36.3514L74 57.7724ZM74 56.4742L37 35.0531L37 33.7549L74 55.1759L74 56.4742ZM37 31.1584L37 32.4566L74 53.8777L74 52.5794L37 31.1584ZM37 29.8601L37 28.5619L74 49.9829L74 51.2812L37 29.8601ZM37 25.9654L37 27.2636L74 48.6847L74 47.3864L37 25.9654ZM37 24.6672L37 23.3689L74 44.7899L74 46.0882L37 24.6672ZM37 20.7724L37 22.0707L74 43.4917L74 42.1935L37 20.7724ZM37 19.4742L37 18.1759L74 39.597L74 40.8952L37 19.4742ZM37 15.5794L37 16.8777L74 38.2987L74 37.0005L37 15.5794ZM37 14.2812L37 12.9829L74 34.404L74 35.7022L37 14.2812ZM37 10.3865L37 11.6847L74 33.1057L74 31.8075L37 10.3865ZM37 9.08821L37 7.78996L74 29.211L74 30.5092L37 9.08821ZM37 5.19347L37 6.49172L74 27.9128L74 26.6145L37 5.19347ZM37 3.89523L37 2.59698L74 24.018L74 25.3163L37 3.89523ZM37 0.000492096L37 1.29874L74 22.7198L74 21.4215L37 0.000492096ZM74 61.6671L74 60.3689L37 38.9479L37 40.2461L74 61.6671Z"
          stroke="currentColor"
          stroke-opacity="0.2"></path>
        <path
          d="M0.281078 61.5047L0.281078 21.9082L36.7189 43.0038L36.7189 82.6003L0.281078 61.5047Z"
          fill="white"></path>
        <path
          d="M0.281078 61.5047L0.281078 21.9082L36.7189 43.0038L36.7189 82.6003L0.281078 61.5047Z"
          stroke="currentColor"
          stroke-width="0.649123"></path>
        <path
          d="M0.281078 61.5047L0.281078 21.9082L36.7189 43.0038L36.7189 82.6003L0.281078 61.5047Z"
          stroke="currentColor"
          stroke-opacity="0.2"
          stroke-width="0.649123"></path>
        <path
          d="M37 46.7367L37 45.4384L-5.7202e-08 24.0174L-8.5803e-08 25.3156L37 46.7367ZM37 48.0349L-1.14404e-07 26.6139L-1.43005e-07 27.9121L37 49.3332L37 48.0349ZM-2.00207e-07 30.5086L-1.71606e-07 29.2104L37 50.6314L37 51.9297L-2.00207e-07 30.5086ZM-2.28808e-07 31.8069L-2.57409e-07 33.1051L37 54.5262L37 53.2279L-2.28808e-07 31.8069ZM-3.14611e-07 35.7016L-2.8601e-07 34.4034L37 55.8244L37 57.1227L-3.14611e-07 35.7016ZM-3.43212e-07 36.9998L-3.71813e-07 38.2981L37 59.7191L37 58.4209L-3.43212e-07 36.9998ZM-4.29015e-07 40.8946L-4.00414e-07 39.5963L37 61.0174L37 62.3156L-4.29015e-07 40.8946ZM-4.57616e-07 42.1928L-4.86217e-07 43.4911L37 64.9121L37 63.6139L-4.57616e-07 42.1928ZM-5.43419e-07 46.0876L-5.14818e-07 44.7893L37 66.2104L37 67.5086L-5.43419e-07 46.0876ZM-5.7202e-07 47.3858L-6.00621e-07 48.6841L37 70.1051L37 68.8069L-5.7202e-07 47.3858ZM-6.57823e-07 51.2805L-6.29222e-07 49.9823L37 71.4034L37 72.7016L-6.57823e-07 51.2805ZM-6.86424e-07 52.5788L-7.15025e-07 53.877L37 75.2981L37 73.9998L-6.86424e-07 52.5788ZM-7.72227e-07 56.4735L-7.43626e-07 55.1753L37 76.5963L37 77.8946L-7.72227e-07 56.4735ZM-8.00828e-07 57.7718L-8.29429e-07 59.07L37 80.4911L37 79.1928L-8.00828e-07 57.7718ZM-8.86631e-07 61.6665L-8.5803e-07 60.3683L37 81.7893L37 83.0876L-8.86631e-07 61.6665ZM37 42.842L37 44.1402L-2.8601e-08 22.7191L0 21.4209L37 42.842Z"
          fill="currentColor"></path>
        <path
          d="M37 46.7367L37 45.4384L-5.7202e-08 24.0174L-8.5803e-08 25.3156L37 46.7367ZM37 48.0349L-1.14404e-07 26.6139L-1.43005e-07 27.9121L37 49.3332L37 48.0349ZM-2.00207e-07 30.5086L-1.71606e-07 29.2104L37 50.6314L37 51.9297L-2.00207e-07 30.5086ZM-2.28808e-07 31.8069L-2.57409e-07 33.1051L37 54.5262L37 53.2279L-2.28808e-07 31.8069ZM-3.14611e-07 35.7016L-2.8601e-07 34.4034L37 55.8244L37 57.1227L-3.14611e-07 35.7016ZM-3.43212e-07 36.9998L-3.71813e-07 38.2981L37 59.7191L37 58.4209L-3.43212e-07 36.9998ZM-4.29015e-07 40.8946L-4.00414e-07 39.5963L37 61.0174L37 62.3156L-4.29015e-07 40.8946ZM-4.57616e-07 42.1928L-4.86217e-07 43.4911L37 64.9121L37 63.6139L-4.57616e-07 42.1928ZM-5.43419e-07 46.0876L-5.14818e-07 44.7893L37 66.2104L37 67.5086L-5.43419e-07 46.0876ZM-5.7202e-07 47.3858L-6.00621e-07 48.6841L37 70.1051L37 68.8069L-5.7202e-07 47.3858ZM-6.57823e-07 51.2805L-6.29222e-07 49.9823L37 71.4034L37 72.7016L-6.57823e-07 51.2805ZM-6.86424e-07 52.5788L-7.15025e-07 53.877L37 75.2981L37 73.9998L-6.86424e-07 52.5788ZM-7.72227e-07 56.4735L-7.43626e-07 55.1753L37 76.5963L37 77.8946L-7.72227e-07 56.4735ZM-8.00828e-07 57.7718L-8.29429e-07 59.07L37 80.4911L37 79.1928L-8.00828e-07 57.7718ZM-8.86631e-07 61.6665L-8.5803e-07 60.3683L37 81.7893L37 83.0876L-8.86631e-07 61.6665ZM37 42.842L37 44.1402L-2.8601e-08 22.7191L0 21.4209L37 42.842Z"
          fill="currentColor"
          fill-opacity="0.2"></path>
        <path
          d="M37 46.7367L37 45.4384L-5.7202e-08 24.0174L-8.5803e-08 25.3156L37 46.7367ZM37 48.0349L-1.14404e-07 26.6139L-1.43005e-07 27.9121L37 49.3332L37 48.0349ZM-2.00207e-07 30.5086L-1.71606e-07 29.2104L37 50.6314L37 51.9297L-2.00207e-07 30.5086ZM-2.28808e-07 31.8069L-2.57409e-07 33.1051L37 54.5262L37 53.2279L-2.28808e-07 31.8069ZM-3.14611e-07 35.7016L-2.8601e-07 34.4034L37 55.8244L37 57.1227L-3.14611e-07 35.7016ZM-3.43212e-07 36.9998L-3.71813e-07 38.2981L37 59.7191L37 58.4209L-3.43212e-07 36.9998ZM-4.29015e-07 40.8946L-4.00414e-07 39.5963L37 61.0174L37 62.3156L-4.29015e-07 40.8946ZM-4.57616e-07 42.1928L-4.86217e-07 43.4911L37 64.9121L37 63.6139L-4.57616e-07 42.1928ZM-5.43419e-07 46.0876L-5.14818e-07 44.7893L37 66.2104L37 67.5086L-5.43419e-07 46.0876ZM-5.7202e-07 47.3858L-6.00621e-07 48.6841L37 70.1051L37 68.8069L-5.7202e-07 47.3858ZM-6.57823e-07 51.2805L-6.29222e-07 49.9823L37 71.4034L37 72.7016L-6.57823e-07 51.2805ZM-6.86424e-07 52.5788L-7.15025e-07 53.877L37 75.2981L37 73.9998L-6.86424e-07 52.5788ZM-7.72227e-07 56.4735L-7.43626e-07 55.1753L37 76.5963L37 77.8946L-7.72227e-07 56.4735ZM-8.00828e-07 57.7718L-8.29429e-07 59.07L37 80.4911L37 79.1928L-8.00828e-07 57.7718ZM-8.86631e-07 61.6665L-8.5803e-07 60.3683L37 81.7893L37 83.0876L-8.86631e-07 61.6665ZM37 42.842L37 44.1402L-2.8601e-08 22.7191L0 21.4209L37 42.842Z"
          stroke="currentColor"></path>
        <path
          d="M37 46.7367L37 45.4384L-5.7202e-08 24.0174L-8.5803e-08 25.3156L37 46.7367ZM37 48.0349L-1.14404e-07 26.6139L-1.43005e-07 27.9121L37 49.3332L37 48.0349ZM-2.00207e-07 30.5086L-1.71606e-07 29.2104L37 50.6314L37 51.9297L-2.00207e-07 30.5086ZM-2.28808e-07 31.8069L-2.57409e-07 33.1051L37 54.5262L37 53.2279L-2.28808e-07 31.8069ZM-3.14611e-07 35.7016L-2.8601e-07 34.4034L37 55.8244L37 57.1227L-3.14611e-07 35.7016ZM-3.43212e-07 36.9998L-3.71813e-07 38.2981L37 59.7191L37 58.4209L-3.43212e-07 36.9998ZM-4.29015e-07 40.8946L-4.00414e-07 39.5963L37 61.0174L37 62.3156L-4.29015e-07 40.8946ZM-4.57616e-07 42.1928L-4.86217e-07 43.4911L37 64.9121L37 63.6139L-4.57616e-07 42.1928ZM-5.43419e-07 46.0876L-5.14818e-07 44.7893L37 66.2104L37 67.5086L-5.43419e-07 46.0876ZM-5.7202e-07 47.3858L-6.00621e-07 48.6841L37 70.1051L37 68.8069L-5.7202e-07 47.3858ZM-6.57823e-07 51.2805L-6.29222e-07 49.9823L37 71.4034L37 72.7016L-6.57823e-07 51.2805ZM-6.86424e-07 52.5788L-7.15025e-07 53.877L37 75.2981L37 73.9998L-6.86424e-07 52.5788ZM-7.72227e-07 56.4735L-7.43626e-07 55.1753L37 76.5963L37 77.8946L-7.72227e-07 56.4735ZM-8.00828e-07 57.7718L-8.29429e-07 59.07L37 80.4911L37 79.1928L-8.00828e-07 57.7718ZM-8.86631e-07 61.6665L-8.5803e-07 60.3683L37 81.7893L37 83.0876L-8.86631e-07 61.6665ZM37 42.842L37 44.1402L-2.8601e-08 22.7191L0 21.4209L37 42.842Z"
          stroke="currentColor"
          stroke-opacity="0.2"></path>
        <path
          d="M37.2811 82.6001L37.2811 43.0036L73.7189 21.908L73.7189 61.5046L37.2811 82.6001Z"
          fill="white"></path>
        <path
          d="M37.2811 82.6001L37.2811 43.0036L73.7189 21.908L73.7189 61.5046L37.2811 82.6001Z"
          stroke="currentColor"
          stroke-width="0.649123"></path>
        <path
          d="M37.2811 82.6001L37.2811 43.0036L73.7189 21.908L73.7189 61.5046L37.2811 82.6001Z"
          stroke="currentColor"
          stroke-opacity="0.2"
          stroke-width="0.649123"></path>
        <path
          d="M74 25.3155L74 24.0172L37 45.4383L37 46.7365L74 25.3155ZM74 26.6137L37 48.0348L37 49.333L74 27.912L74 26.6137ZM37 51.9295L37 50.6313L74 29.2102L74 30.5085L37 51.9295ZM37 53.2278L37 54.526L74 33.105L74 31.8067L37 53.2278ZM37 57.1225L37 55.8242L74 34.4032L74 35.7015L37 57.1225ZM37 58.4207L37 59.719L74 38.2979L74 36.9997L37 58.4207ZM37 62.3155L37 61.0172L74 39.5962L74 40.8944L37 62.3155ZM37 63.6137L37 64.912L74 43.4909L74 42.1927L37 63.6137ZM37 67.5085L37 66.2102L74 44.7892L74 46.0874L37 67.5085ZM37 68.8067L37 70.1049L74 48.6839L74 47.3857L37 68.8067ZM37 72.7014L37 71.4032L74 49.9822L74 51.2804L37 72.7014ZM37 73.9997L37 75.2979L74 53.8769L74 52.5786L37 73.9997ZM37 77.8944L37 76.5962L74 55.1751L74 56.4734L37 77.8944ZM37 79.1927L37 80.4909L74 59.0699L74 57.7716L37 79.1927ZM37 83.0874L37 81.7892L74 60.3681L74 61.6664L37 83.0874ZM74 21.4208L74 22.719L37 44.14L37 42.8418L74 21.4208Z"
          fill="currentColor"></path>
        <path
          d="M74 25.3155L74 24.0172L37 45.4383L37 46.7365L74 25.3155ZM74 26.6137L37 48.0348L37 49.333L74 27.912L74 26.6137ZM37 51.9295L37 50.6313L74 29.2102L74 30.5085L37 51.9295ZM37 53.2278L37 54.526L74 33.105L74 31.8067L37 53.2278ZM37 57.1225L37 55.8242L74 34.4032L74 35.7015L37 57.1225ZM37 58.4207L37 59.719L74 38.2979L74 36.9997L37 58.4207ZM37 62.3155L37 61.0172L74 39.5962L74 40.8944L37 62.3155ZM37 63.6137L37 64.912L74 43.4909L74 42.1927L37 63.6137ZM37 67.5085L37 66.2102L74 44.7892L74 46.0874L37 67.5085ZM37 68.8067L37 70.1049L74 48.6839L74 47.3857L37 68.8067ZM37 72.7014L37 71.4032L74 49.9822L74 51.2804L37 72.7014ZM37 73.9997L37 75.2979L74 53.8769L74 52.5786L37 73.9997ZM37 77.8944L37 76.5962L74 55.1751L74 56.4734L37 77.8944ZM37 79.1927L37 80.4909L74 59.0699L74 57.7716L37 79.1927ZM37 83.0874L37 81.7892L74 60.3681L74 61.6664L37 83.0874ZM74 21.4208L74 22.719L37 44.14L37 42.8418L74 21.4208Z"
          fill="currentColor"
          fill-opacity="0.2"></path>
        <path
          d="M74 25.3155L74 24.0172L37 45.4383L37 46.7365L74 25.3155ZM74 26.6137L37 48.0348L37 49.333L74 27.912L74 26.6137ZM37 51.9295L37 50.6313L74 29.2102L74 30.5085L37 51.9295ZM37 53.2278L37 54.526L74 33.105L74 31.8067L37 53.2278ZM37 57.1225L37 55.8242L74 34.4032L74 35.7015L37 57.1225ZM37 58.4207L37 59.719L74 38.2979L74 36.9997L37 58.4207ZM37 62.3155L37 61.0172L74 39.5962L74 40.8944L37 62.3155ZM37 63.6137L37 64.912L74 43.4909L74 42.1927L37 63.6137ZM37 67.5085L37 66.2102L74 44.7892L74 46.0874L37 67.5085ZM37 68.8067L37 70.1049L74 48.6839L74 47.3857L37 68.8067ZM37 72.7014L37 71.4032L74 49.9822L74 51.2804L37 72.7014ZM37 73.9997L37 75.2979L74 53.8769L74 52.5786L37 73.9997ZM37 77.8944L37 76.5962L74 55.1751L74 56.4734L37 77.8944ZM37 79.1927L37 80.4909L74 59.0699L74 57.7716L37 79.1927ZM37 83.0874L37 81.7892L74 60.3681L74 61.6664L37 83.0874ZM74 21.4208L74 22.719L37 44.14L37 42.8418L74 21.4208Z"
          stroke="currentColor"></path>
        <path
          d="M74 25.3155L74 24.0172L37 45.4383L37 46.7365L74 25.3155ZM74 26.6137L37 48.0348L37 49.333L74 27.912L74 26.6137ZM37 51.9295L37 50.6313L74 29.2102L74 30.5085L37 51.9295ZM37 53.2278L37 54.526L74 33.105L74 31.8067L37 53.2278ZM37 57.1225L37 55.8242L74 34.4032L74 35.7015L37 57.1225ZM37 58.4207L37 59.719L74 38.2979L74 36.9997L37 58.4207ZM37 62.3155L37 61.0172L74 39.5962L74 40.8944L37 62.3155ZM37 63.6137L37 64.912L74 43.4909L74 42.1927L37 63.6137ZM37 67.5085L37 66.2102L74 44.7892L74 46.0874L37 67.5085ZM37 68.8067L37 70.1049L74 48.6839L74 47.3857L37 68.8067ZM37 72.7014L37 71.4032L74 49.9822L74 51.2804L37 72.7014ZM37 73.9997L37 75.2979L74 53.8769L74 52.5786L37 73.9997ZM37 77.8944L37 76.5962L74 55.1751L74 56.4734L37 77.8944ZM37 79.1927L37 80.4909L74 59.0699L74 57.7716L37 79.1927ZM37 83.0874L37 81.7892L74 60.3681L74 61.6664L37 83.0874ZM74 21.4208L74 22.719L37 44.14L37 42.8418L74 21.4208Z"
          stroke="currentColor"
          stroke-opacity="0.2"></path>
      </svg>
    </span>
    <span class="font-semibold text-xl"> ProFolioX</span>
  </span>

  <div class="flex items-center mt-12">
    <div>
      <img
        class="inline-block h-9 w-9 ring-1 ring-black dark:ring-white/10 grayscale filter rounded-full"
        src="/mike.jpg"
        alt=""
      />
    </div>
    <div class="ml-3">
      <p
        class="text-sm font-medium text-neutral-900 dark:text-white group-hover:opacity-80">
        Michael Andreuzza
      </p>
      <p
        class="text-xs font-medium text-neutral-500 dark:text-white group-hover:opacity-80">
        UI Designer - Developer
      </p>
    </div>
  </div>
</a>
