<a href="/" class="group block flex-shrink-0 cursor-pointer">
  <span
    class="inline-flex items-center text-neutral-1300 dark:text-white gap-3 group-hover:opacity-80">
    <span>
      <svg
        class="w-5 h-5"
        viewBox="0 0 68 79"
        fill="none"
        xmlns="http://www.w3.org/2000/svg">
        <path
          d="M53.4998 14.7002L35.4998 32.7002L17.3998 14.7002L3.2998 28.8002L21.2998 46.9002L3.2998 64.9002L17.3998 79.0002L35.4998 61.0002L53.4998 79.0002L67.5998 64.9002L49.5998 46.9002L67.5998 28.8002L53.4998 14.7002Z"
          fill="currentColor"></path>
        <path
          d="M53.4998 14.7002L35.4998 32.7002L17.3998 14.7002L3.2998 28.8002L21.2998 46.9002L3.2998 64.9002L17.3998 79.0002L35.4998 61.0002L53.4998 79.0002L67.5998 64.9002L49.5998 46.9002L67.5998 28.8002L53.4998 14.7002Z"
          fill="currentColor"
          fill-opacity="0.2"></path>
        <path
          d="M51.2 1L33.1 19L15.1 1L1 15.2L19 33.2L1 51.2L15.1 65.4L33.1 47.3L51.2 65.4L65.3 51.2L47.3 33.2L65.3 15.2L51.2 1Z"
          stroke="currentColor"
          stroke-width="2"
          stroke-miterlimit="10"
          stroke-linecap="round"
          stroke-linejoin="round"></path>
      </svg>
    </span>
    <span class="text-xl font-bold"> ProfolioX</span>
  </span>

  <div class="flex items-center mt-12">
    <div>
      <img
        class="inline-block h-9 w-9 ring-1 ring-black dark:ring-white/10 grayscale filter rounded-full"
        src="/mike.jpg"
        alt=""
      />
    </div>
    <div class="ml-3">
      <p
        class="text-sm font-medium text-neutral-900 dark:text-white group-hover:opacity-80">
        Michael Andreuzza
      </p>
      <p
        class="text-xs font-medium text-neutral-500 dark:text-white group-hover:opacity-80">
        UI Designer
      </p>
    </div>
  </div>
</a>
